# ==========================================
# PostgreSQL
# ==========================================

POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=my_resume_db


# ==========================================
# Development
# ==========================================

BACKEND_PORT=3000
FRONTEND_PORT=3001

FRONTEND_URL=http://localhost:3001


# ==========================================
# Production
# ==========================================

BACKEND_IMAGE=ghcr.io/YOUR_GITHUB_USERNAME/my-resume-backend
FRONTEND_IMAGE=ghcr.io/YOUR_GITHUB_USERNAME/my-resume-frontend